<div class="left main-sidebar">
  <div class="sidebar-inner leftscroll">
    <div id="sidebar-menu">
      <ul>
        <li class="submenu">
          <a class="active" href="index.html">
            <i class="fas fa-bars"></i>
            <span> Dashboard </span>
          </a>
        </li>

        <li class="submenu">
          <a id="users" href="#">
            <i class="fas fa-user"></i>
            <span> Users </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="tables-datatable.html"
                ><i class="fa fa-plus"></i> Add User
              </a>
            </li>
            <li>
              <a href="tables-basic.html"
                ><i class="fa fa-grip-lines"></i> User List</a
              >
            </li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#">
            <i class="fa fa-archive"></i>
            <span> Product Category </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="forms-general.html"
                ><i class="fa fa-plus"></i> Add Category
              </a>
            </li>
            <li>
              <a href="forms-select2.html"
                ><i class="fa fa-grip-lines"></i> Category List
              </a>
            </li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#">
            <i class="fa fa-glasses"></i>
            <span> Product </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="forms-general.html"
                ><i class="fa fa-plus"></i> Add Product
              </a>
            </li>
            <li>
              <a href="forms-select2.html"
                ><i class="fa fa-grip-lines"></i> Product List
              </a>
            </li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#">
            <i class="fa fa-money-check-alt"></i>
            <span> Order </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="forms-general.html"
                ><i class="fa fa-plus"></i> Add Order
              </a>
            </li>
            <li>
              <a href="forms-select2.html"
                ><i class="fa fa-grip-lines"></i> Order List
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
